* {
  padding: 0;
  /* margin: 0; */
}

#topBar {
  display: flex;
  justify-content: row;
  background-color: rgba(22, 22, 23, .8);
  z-index: 3;
  color: whitesmoke;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 5%;
  font-size: 2rem;
  padding-top: 1rem;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;

}

/* Added flex grow to 4 to push the links to the right side in a row */
.name {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: flex-start;
  flex-grow: 4;
  padding-left: 5%;

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(images/spurslogo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;


  margin-top: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(113, 113, 113);
}

a:focus {
  text-decoration: none;
}

#content {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  z-index: 3;
  text-align: center;
  color: whitesmoke;
}

.sentence-1 {
  font-size: 3rem;
}

.sentence-2 {
  font-size: 3rem;
}

.sentence-3 {
  font-size: 2rem;
}

.myPic {
  width: 50%;
  display: block;
  border: 5px solid black;
  margin: 0 auto 5rem auto;
  opacity: .8;


}





footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(22, 22, 23, .8);
  flex-shrink: 0;
  margin: auto auto;
  text-align: center;
  z-index: 3;
  opacity: .9;
}

.linkedin-link {
  height: 50px;
  width: 150px;
}

.github-link {
  height: 50px;
  width: 100px;
}

p {
  text-align: center;

}

/* 
@media(max-width:480px) {
  .class {
    margin: ;
    padding: ;
  }
} */